@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin:0;
    padding:0;
}

body {
    font-family: 'DM Sans', sans-serif;
}
header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 22px 135px;
}

header div img{
    width: 170px;
}

header nav ul{
    display: flex;
}

header nav ul li{
    padding: 10px;
    padding-top: 15px;
}

header nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 19px;
    font-weight: bolder;
}

header nav ul li #baixar::after{
    content: "|";
    margin-left: 28px;
    color: white;
    cursor: default;

}


header nav ul li a:hover{
    color: rgb(56, 211, 76);
}


#fundoAzul{
    background-color: #1D75DE;
    color: white;
    text-align: left;
    padding: 4em 9.2em;
}

#fundoAzul h1{
    font-size: 40px;
    margin-top: 0.5em;
    font-weight: bold;
}

#fundoAzul p{
    font-size: 24px;
    padding-top: 1.5em;
    font-weight: bold;
}

#fundoAzul #botoesAzul{
    margin-top: 2.6em;
}



#fundoAzul #botoesAzul button{
    background-color: transparent;
    border: 2px solid white;
    padding: 18px 40px;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-right: 8px;
}


footer {
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
}

footer h4 {
	color: #919496;
	font-size: 0.8em;
	text-transform: uppercase;
}

footer .navbar-nav a {
	color: white;
	font-size: 0.8em;
}

footer .navbar-nav a:hover {
	color: #9bf0e1;
	text-decoration: none;
}

footer ul {
	list-style: none;
}

footer ul li {
	float: right;
	margin: 0 5px;
}
